Repository Goob-Station/Goob-Station-MRP, pull requests merged in 2025-02, with the labels that each got.

#63 Pseudo Revert Time Changes & Add More Constraints to Mystagogue
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Roles/Antags/ninja.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/Roles/Antags/zombie.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/roboticist.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
Labels: Changes: YML

#75 Fix .30 Uranium in Flight Name and Nerf Damage on Most Uranium Munitions
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
Labels: Changes: YML

#86 Disable AAC Tablet Pending Rework™
  Resources/Prototypes/Loadouts/Generic/items.yml
Labels: Changes: YML

#80 Make BSO Great Again
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
Labels: Changes: YML

#78 Spacelaw Sentencing Update
  Resources/ServerInfo/Guidebook/SpaceLaw/Procedures/SL_Sentencing.xml
Labels: Changes: Documentation, Changes: YML, Status: Needs Review

#87 Blueshield Officer SoP
  Resources/ServerInfo/Guidebook/SOP/Jobs/Dignitary/BlueshieldOfficerSOP.xml
Labels: Changes: Documentation, Changes: YML

#91 Slight BSO Tweak
  Resources/ServerInfo/Guidebook/SOP/Jobs/Dignitary/BlueshieldOfficerSOP.xml
Labels: Changes: Documentation, Changes: YML

#93 Fixes
  Content.Client/Guidebook/Controls/GuidebookWindow.xaml.cs
  Content.Client/Guidebook/GuideEntry.cs
  Content.Client/NukeOps/WarDeclaratorWindow.xaml.cs
  Resources/Changelog/Changelog.yml
  Resources/Prototypes/CharacterItemGroups/Generic/gloveGroup.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/Guidebook/security.yml
  Resources/Prototypes/Loadouts/Generic/hands.yml
Labels: Changes: YML, Changes: C#, Changes: UI

#94 Blueshield Loadout Fix
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
Labels: Changes: YML
