Repository Goob-Station/Goob-Station-MRP, pull requests merged in 2025-04, with the labels that each got.

#127 BSO Rules Update.
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR16Blueshield.xml
Labels: Changes: Documentation, Changes: YML

#128 BSO SOP Update
  Resources/ServerInfo/Guidebook/SOP/Jobs/Command/BlueshieldOfficerSOP.xml
Labels: Changes: Documentation, Changes: YML

#126 Update the Metashield
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR4Metashield.xml
Labels: Changes: Documentation, Changes: YML

#125 NT Standard Silicon Laws
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: YML

#122 Edited Keys to HoP Headsets.
  Resources/Prototypes/DeltaV/Entities/Clothing/Ears/headsets.yml
Labels: Changes: YML

#138 Adds a Warning to Follow New Life Rule/Death Amnesia in the "You Are Being Revived!" Pop-Up.
  Resources/Locale/en-US/ghost/ghost-gui.ftl
Labels: Changes: YML, Changes: Localization

#139 Patreon Support
  Content.Client/Credits/CreditsWindow.xaml.cs
  Content.Client/Info/LinkBanner.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/JoinQueue/QueueGui.xaml
  Content.Client/JoinQueue/QueueGui.xaml.cs
  Content.Client/JoinQueue/QueueState.cs
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyCharacterPreviewPanel.xaml
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/Options/UI/EscapeMenu.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/RoundEnd/RoundEndSummaryWindow.cs
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
  Content.Client/_RMC14/GhostColor/GhostColorSystem.cs
  Content.Client/_RMC14/LinkAccount/LinkAccountManager.cs
  Content.Client/_RMC14/LinkAccount/LinkAccountSystem.cs
  Content.Client/_RMC14/LinkAccount/LinkAccountUIController.cs
  Content.Client/_RMC14/LinkAccount/LinkAccountWindow.xaml
  Content.Client/_RMC14/LinkAccount/LinkAccountWindow.xaml.cs
  Content.Client/_RMC14/LinkAccount/PatronPerksWindow.xaml
  Content.Client/_RMC14/LinkAccount/PatronPerksWindow.xaml.cs
  Content.PatreonParser/Program.cs
  Content.Server.Database/Migrations/Postgres/20250430024424_RMCPatreon.Designer.cs
  Content.Server.Database/Migrations/Postgres/20250430024424_RMCPatreon.cs
  Content.Server.Database/Migrations/Postgres/PostgresServerDbContextModelSnapshot.cs
  Content.Server.Database/Migrations/Sqlite/20250430024418_RMCPatreon.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20250430024418_RMCPatreon.cs
  Content.Server.Database/Migrations/Sqlite/SqliteServerDbContextModelSnapshot.cs
  Content.Server.Database/Model.cs
  Content.Server.Database/RMCModel.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/JoinQueue/JoinQueueManager.cs
  Content.Server/_RMC14/LinkAccount/LinkAccountManager.cs
  Content.Server/_RMC14/LinkAccount/LinkAccountSystem.cs
  Content.Shared/JoinQueue/QueueUpdateMessage.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/_Goobstation/CCVar/CCVars.Goob.cs
  Content.Shared/_RMC14/GhostColor/GhostColorComponent.cs
  Content.Shared/_RMC14/LinkAccount/LinkAccountCodeMsg.cs
  Content.Shared/_RMC14/LinkAccount/LinkAccountRequestMsg.cs
  Content.Shared/_RMC14/LinkAccount/LinkAccountStatusMsg.cs
  Content.Shared/_RMC14/LinkAccount/RMCChangeGhostColorMsg.cs
  Content.Shared/_RMC14/LinkAccount/RMCChangeLobbyMessageMsg.cs
  Content.Shared/_RMC14/LinkAccount/RMCChangeNTShoutoutMsg.cs
  Content.Shared/_RMC14/LinkAccount/RMCClearGhostColorMsg.cs
  Content.Shared/_RMC14/LinkAccount/RMCPatronListMsg.cs
  Content.Shared/_RMC14/LinkAccount/SharedRMCDisplayLobbyMessageMsg.cs
  Content.Shared/_RMC14/LinkAccount/SharedRMCLobbyMessage.cs
  Content.Shared/_RMC14/LinkAccount/SharedRMCPatron.cs
  Content.Shared/_RMC14/LinkAccount/SharedRMCPatronFull.cs
  Content.Shared/_RMC14/LinkAccount/SharedRMCPatronTier.cs
  Content.Shared/_RMC14/LinkAccount/SharedRMCRoundEndShoutouts.cs
  Content.Shared/_RMC14/LinkAccount/SharedRMCShowLobbyMessageEvent.cs
  Resources/Locale/en-US/_RMC14/ui.ftl
  Resources/Locale/en-US/join-queue/queue-screen.ftl
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  SpaceStation14.sln.DotSettings
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: UI
