Repository Goob-Station/Goob-Station-MRP, pull requests merged in 2025-01, with the labels that each got.

#27 [Port] Port Guidebook Tables From Wizden PR #28484 (#1427)
  Content.Client/Guidebook/Richtext/Box.cs
  Content.Client/Guidebook/Richtext/ColorBox.cs
  Content.Client/Guidebook/Richtext/Table.cs
  Content.Client/UserInterface/Controls/TableContainer.cs
  Resources/Changelog/Changelog.yml
Labels: Changes: YML, Changes: C#

#26 [Port] Add Different Launch Types to VSCode (#1430)
  .vscode/launch.json
  .vscode/tasks.json
Labels: Changes: YML, Changes: Config

#19 Rework SOP with Tables
  Resources/Locale/en-US/_Goobstation/guidebook/guides.ftl
  Resources/Prototypes/_Goobstation/Guidebook/sop.yml
  Resources/ServerInfo/Guidebook/SOP/AlertLevels/AlertLevelsSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Cargo/CargoSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Command/BlueshieldOfficerSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Command/CommandSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Command/LogisticsOfficerSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Command/NanotrasenRepSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Command/QuartermasterSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Legal/PunishmentsSOP.xml
  Resources/ServerInfo/Guidebook/SOP/StandardProcedures/CommandSuccession.xml
Labels: Changes: Documentation, Changes: YML, Changes: Localization

#28 Gun Rebalancing Pt. 2 - Literally Everything Else (I Think)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
Labels: Changes: YML

#50 Setup Changelog Again
  Resources/Changelog/GoobChangelog.yml
  Resources/Locale/en-US/_Goobstation/changelog/changelog-window.ftl
Labels: Changes: YML, Changes: Localization

#48 Major SOP Update, Check Description
  Resources/Locale/en-US/_Goobstation/guidebook/sop.ftl
  Resources/Prototypes/_Goobstation/Guidebook/sop.yml
  Resources/ServerInfo/Guidebook/SOP/AlertLevels/AlertLevelsSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Command/CaptainSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Command/CommandSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Command/HeadOfPersonnelSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Command/HeadOfSecuritySOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Dignitary/BlueshieldOfficerSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Dignitary/DignitarySOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Dignitary/MagistrateSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Dignitary/NanotrasenRepSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Epistemics/EpistemicsSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Epistemics/GolemancerSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Epistemics/MantisSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Epistemics/ResearcherSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Epistemics/SacrificesSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/JobsSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Security/CorpsmanSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Security/DetectiveSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Security/OfficerCadetSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Security/PrisonGuardSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Jobs/Security/WardenSOP.xml
  Resources/ServerInfo/Guidebook/SOP/Legal/ExecutionSOP.xml
  Resources/ServerInfo/Guidebook/SOP/SoP.xml
  Resources/ServerInfo/Guidebook/SOP/StandardProcedures/CommandSuccession.xml
  Resources/ServerInfo/Guidebook/SOP/StandardProcedures/EarlyEvacuationSOP.xml
  Resources/ServerInfo/Guidebook/SOP/StandardProcedures/FiringDemotion.xml
  Resources/ServerInfo/Guidebook/SOP/StandardProcedures/HiringTransfers.xml
Labels: Changes: Documentation, Changes: YML, Changes: Localization

#46 Make HoP Great Again! (Give Accesses Back)
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Labels: Changes: YML

#45 Mantis Cannot Be Antag & Intern Roles Can
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
Labels: Changes: YML

#49 Space Law Reborn
  Content.Client/Guidebook/Controls/GuidebookWindow.xaml
  Resources/Locale/en-US/_Goobstation/guidebook/spacelaw.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Guidebook/rules.yml
  Resources/Prototypes/Guidebook/ss14.yml
  Resources/Prototypes/_Goobstation/Guidebook/spacelaw.yml
  Resources/ServerInfo/Guidebook/SpaceLaw/Contraband/SL_Gear.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/Contraband/SL_Substances.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/Contraband/SL_Weapons.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/Contraband/SpaceLaw_Contraband.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/CourtRulings/SL_Cultists.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/CourtRulings/SL_IPC-Battery.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/CourtRulings/SL_Sacrifices.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/CourtRulings/SpaceLaw_CourtRulings.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/CrimeList/CrimeGroups/SL_Animal.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/CrimeList/CrimeGroups/SL_Assault.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/CrimeList/CrimeGroups/SL_Contraband.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/CrimeList/CrimeGroups/SL_Disruption.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/CrimeList/CrimeGroups/SL_Drugs.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/CrimeList/CrimeGroups/SL_HostileAgent.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/CrimeList/CrimeGroups/SL_Negligence.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/CrimeList/CrimeGroups/SL_Psionics.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/CrimeList/CrimeGroups/SL_Rioting.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/CrimeList/CrimeGroups/SL_Sabotage.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/CrimeList/CrimeGroups/SL_Thievery.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/CrimeList/CrimeGroups/SL_Trespassing.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/CrimeList/CrimeGroups/SL_Ungrouped.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/CrimeList/CrimeGroups/SpaceLaw_CrimeCategories.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/CrimeList/SL_Modifiers.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/CrimeList/SpaceLaw_CrimeChart.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/Procedures/SL_ImplantRemoval.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/Procedures/SL_Implantation.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/Procedures/SL_Searching.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/Procedures/SL_Sentencing.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/Procedures/SL_Treatment.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/Procedures/SpaceLaw_Procedures.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/SpaceLaw_Initial.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/Trials/SL_EscalationPolicy.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/Trials/SL_PrisonerRequest.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/Trials/SL_TrialPolicy.xml
  Resources/ServerInfo/Guidebook/SpaceLaw/Trials/SpaceLaw_Trials.xml
Labels: Changes: Documentation, Changes: YML, Changes: Localization, Changes: UI

#47 (Attempt #2) Remove Prisoner Pacification, Add Tracking Implant
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
Labels: Changes: YML

#57 Woe, Vox upon Ye
  Resources/Prototypes/Species/vox.yml
Labels: Changes: YML

#62 Add Revolutionaries Back & Adjust Weighting Scale
  Resources/Prototypes/game_presets.yml
  Resources/Prototypes/secret_weights.yml
Labels: Changes: YML

#69 War Is Over
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/human.yml
Labels: Changes: YML
